.signup-container {
  display: flex;
  margin: 7vh 0 0 32vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  background-color: lavender;
}

#signup-alert {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #ff9494;
  top: 15px;
  font-size: 25px;
  font-weight: bolder;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  color: #142850;
  font-size: 1.5em;
}

.signup-inputs input {
  margin: 8px 0;
  padding: 5px;
  width: 300px;
  height: 30px;
  font-size: 20px;
  outline: none;
  border: 1px solid #142850;
  border-radius: 3px;
}

.signup-title {
  font-size: 4em;
  color: #142850;
}

.signup-btn {
  position: relative;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  outline: none;
  width: 310px;
  height: 50px;
  color: white;
  cursor: pointer;
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
}

.back-btn {
  text-decoration: none;
}
